
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: "Mark W05 Medium";
    src: url("https://db.onlinewebfonts.com/t/b621d1ffb46493164fd62fb7a83ab0ff.woff2") format("woff2"),
        url("https://db.onlinewebfonts.com/t/b621d1ffb46493164fd62fb7a83ab0ff.woff") format("woff"),
        url("https://db.onlinewebfonts.com/t/b621d1ffb46493164fd62fb7a83ab0ff.ttf") format("truetype");
    font-weight: normal;  
}
@font-face {
    font-family: "Manuka";
    src: url("./fonts/manuka-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 160px 5fr 1fr;
    align-items: center;
    padding-left: 40px;
    padding-right: 25px;    
    background-color: black;
    min-height: 80px;
}

.logos-style {
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: 80px;
}

.logos-style img {
    height: 32px;
}

nav {
    display: flex;
    flex-direction: row;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    font-family: "Mark W05 Medium", "Overpass", sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 13.2px;
    letter-spacing: 1px;
    font-weight: 900;
}
.sign-in-style {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 80px;
    gap: 15px;
}

.btn-language {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-language img {
    height: 20px;
    width: auto;
}
.btn-sign-up {
    width: 90px;
    height: 30px;
    background-color: #292929;
    border-radius: 8px;
    border: none;
    font-family: "Mark W05 Medium", "Overpass", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13.2px;
    font-weight: 400;
    cursor: pointer;    
}

.btn-sign-up a {
    text-decoration: none;
    color: white;
}

.mobile-menu-btn {
    display: none;
    background-color: #292929;
    color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    text-align: center;
    height: 48px;
    width: 48px;
}
.arcane-netflix-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px 45px;
}
.bg-arcane-video {
    position: absolute;
    top: 49%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.arcane-netflix-content-container {
    display: grid;
    grid-template-rows: 1fr minmax(auto, 200px) minmax(auto,30px) 1fr;
    position: relative;
    z-index: 1;
    row-gap: 20px;
}
.arcane-title-watch-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    min-width: 260px;
    text-align: center;
    background-color: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 45px;
    font-family: "Manuka", sans-serif;
}
.arcane-title-style {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 10px;
}
.watch-btn-style {
    width: 126px;
    height: 76px;
    background: linear-gradient(0deg, rgba(99, 116, 165, 0) 0%, rgba(10, 10, 10, 0.4) 100%), rgb(75, 96, 158);
    border-color: rgb(99, 116, 165);
    text-transform: uppercase;
    font-size: 45px;
    font-family: "Manuka", sans-serif;
    font-weight: bold;  
}

.watch-btn-style a {
    text-decoration: none;
    color: white;
}

.only-netflix-button {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    min-width: 240px;
    min-height: 114px;
    background-color: black;
    opacity: 70%;
    border: none;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 25px),
        calc(100% - 25px) 100%,
        0 100%
    );
}

.only-netflix-button-a
{   display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    gap: 10px;
    opacity: 100%;    
}
.only-netflix-button img {
    width: 120px;
    height: auto;
}
.only-netflix-container{
    display: grid;
    justify-items: end;
    align-items: end;
}
.scroll-btns-container-section-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.scroll-btn-section-1-style {
    display: flex;
    background-color: transparent;
    border: none;
}
.scroll-btn-section-1-style img {
    min-width: 20px;
    max-height: 20px;
}
.section-1-gallery-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    right: -45px;
    padding-bottom: 10px;
    max-height: 200px;
}
.section-1-gallery-container img {
    max-width: 330px;
    max-height: 185px;
}
.section-1-image-container {
    display: flex;
    place-items: center;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.section-1-gallery-text {
    display: flex;
    place-items: end;
    bottom: 10%;
    color: white;
    position: absolute;
    z-index: 2;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
    padding-left: 10px;
    max-width: 300px;
}
.arcane-btn-image {
    background-color: transparent;
    border: none;
    cursor: pointer;    
}
.arcane-youtube-btn-container {
    position: absolute;
    bottom: 35%;
    left: 42%;
    z-index: 2;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.arcane-youtube-btn-container img {
    max-width: 60px;
    height: auto;
}
/* MEDIA QUERYS */
@media (min-width: 1024px ) {
    nav  {   
        margin-left: 30px;
    }
}

@media (max-width: 1024px ) {
    header {
        padding-left: 12px;
        padding-right: 12px;
    }
    nav {
        margin-left: 18px;
    }
    ul li a {
        display: none;
        background-color: transparent;
    }
    .logos-style img {
        height: 37px;
    }

    .btn-header {
        display: none;
    }
    .btn-language img {
    height: 30px;
    width: auto;
    }
    .btn-sign-up {
        display: none;
    }
    .mobile-menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }  
}  