
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: "Mark W05 Medium";
    src: url("https://db.onlinewebfonts.com/t/b621d1ffb46493164fd62fb7a83ab0ff.woff2") format("woff2"),
        url("https://db.onlinewebfonts.com/t/b621d1ffb46493164fd62fb7a83ab0ff.woff") format("woff"),
        url("https://db.onlinewebfonts.com/t/b621d1ffb46493164fd62fb7a83ab0ff.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header { 
    display: grid;
    grid-template-columns: 160px 5fr 1fr;
    align-items: center;
    padding-left: 40px;
    padding-right: 25px;    
    background-color: black;
    min-height: 80px;
}


.logos-style {
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: 80px;
}

.logos-style img {
    height: 32px;
}

nav {
    display: flex;
    flex-direction: row;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    font-family: "Mark W05 Medium", "Overpass", sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 13.2px;
    letter-spacing: 1px;
    font-weight: 900;
}
@media (min-width: 1024px ) {
    nav  {   
        margin-left: 30px;
    }
}
.sign-in-style {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 80px;
    gap: 15px;
}

.btn-language {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-language img {
    height: 20px;
    width: auto;
}
.btn-sign-up {
    width: 90px;
    height: 30px;
    background-color: #292929;
    border-radius: 8px;
    border: none;
    font-family: "Mark W05 Medium", "Overpass", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13.2px;
    font-weight: 400;
    cursor: pointer;    
}

.btn-sign-up a {
    text-decoration: none;
    color: white;
}

.mobile-menu-btn {
    display: none;
    background-color: #292929;
    color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    text-align: center;
    height: 48px;
    width: 48px;
}

@media (max-width: 1024px ) {
    header {
        padding-left: 12px;
        padding-right: 12px;
    }
    nav {
        margin-left: 18px;
    }
    ul li a {
        display: none;
        background-color: transparent;
    }
    .logos-style img {
        height: 37px;
    }

    .btn-header {
        display: none;
    }
    .btn-language img {
    height: 30px;
    width: auto;
    }
    .btn-sign-up {
        display: none;
    }
    .mobile-menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }  
}  